.sales-down,
.sales-hold,
.sales-up,
.value {
    float: right;
}
.sales-up { color: green; }
.sales-down { color: red; }
.sales-hold { color: blue; }
.value { color: #666; }


/*Icons*/
.km-user-e:after,
.km-user-e:before {
    content: "\e319";
    font-size: 20px;
}

.km-lock-e:after,
.km-lock-e:before {
    content: "\e0ff";
    font-size: 26px;
    align-content: center;
}

.km-login-e:after,
.km-login-e:before {
    content: "\e0b2";
    font-size: 20px;
}

.km-giris-e:after,
.km-giris-e:before {
    content: "\e219";
    font-size: 20px;
}

.km-cancel-e:after,
.km-cancel-e:before {
    content: "\e031";
    font-size: 20px;
}

.km-off-e:after,
.km-off-e:before {
    content: "\e0b9";
    font-size: 20px;
    color: white;
}

.km-off:before, 
.km-off:after {
    content: "\E0B9";
    font-size: 18px;
}

.km-duyuru:after,
.km-duyuru:before {
    content: "\e0b5";
    font-size: 22px;
}

.km-mezuniyet:after,
.km-mezuniyet:before {
    content: "\f19d";
    font-size: 22px;
}

.km-info-e:before {
    content: "\e0f9";
    font-size: 24px;
    color: white;
}

.km-info-e:after {
    content: "\e0f9";
    font-size: 24px;
}

.km-back-e:before {
    content: "\e013";
    font-size:26px;
    font-weight:bold;
    color:white;
}
.km-back-e:after {
    content: "\e013";
    font-size:22px;
    font-weight: bold;
}

.fa-graduation-cap:after,
.fa-graduation-cap:before,
.fa-cutlery:after,
.fa-cutlery:before,
.fa-calendar:after,
.fa-calendar:before,
.km-back-e:before {
    font-size: 20px;
}

.fa-mortar-board:before, 
.fa-graduation-cap:before, 
.fa-calendar:before,
.fa-cutlery:before {
    float: left;
}

/* Ana Ekran Dil Butonlarý */
#button-group-dil {
    float: right;
    margin: 1em 1em 0 0;
}

#button-group-dil li {
    font-size: 0.5em;
    margin: 0 0 0 0;
}
    
#button-group-dil img {
    width: 32px;
    height: 20px;
}

#popover-anamenu-info,
#popover-giris-info,
#popover-akademikbirimler-info,
#popover-duyurular-info,
#popover-akademiktakvim-info,
#popover-yemeklistesi-info {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-color: white;
}

.km-flat #popover-anamenu-info .km-content,
.km-flat #popover-giris-info .km-content,
.km-flat #popover-akademikbirimler-info .km-content,
.km-flat #popover-duyurular-info .km-content,
.km-flat #popover-akademiktakvim-info .km-content,
.km-flat #popover-yemeklistesi-info .km-content {
    background: url(images/transpBlack75.png) repeat;
}

 #view-anamenu-ul1 {
    margin-top:0em;
}

#view-anamenu-ul1 img,
#tabstrip-login-ul1 img {
    width: 6em;
    height: 6em;
    text-align: center;
    -webkit-border-radius: 4em;
    border-radius: 8em;
}

.km-flat #view-anamenu .km-content,
.km-flat #tabstrip-login .km-content,
.km-flat #ayarlar .km-content,
.km-flat #view-akademiktakvim .km-content{
    background: url(images/aa.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.km-flat #view-anamenu .km-navbar,
.km-flat #tabstrip-login .km-navbar,
.km-flat #ayarlar .km-navbar,
.km-flat #view-duyurular .km-navbar,
.km-flat #view-duyurudetay .km-navbar,
.km-flat #view-akademiktakvim .km-navbar,
.km-flat #view-yemeklistesi .km-navbar {
    background: url(../styles/images/pattern9.png) repeat;
    background-color: inherit;
    color: #fff;
}

#view-anamenu,
#tabstrip-login,
#ayarlar {
    text-align: center;
}

.yemeklistesi-tr-header td {
    background-color: gray;
    color: white;
    font-size: .8em;
    text-align: center;
}

.km-listgroupinset .km-group-title {
    margin-top: 0em;
    line-height: 1.4em;
}

.ul {
    width: 100%;
    height: 100%;
    margin-bottom: 1.4em;
}

.ul a {
    height: 4em;
}

.km-flat .km-list > li {
    background: inherit;
    font-weight: bold;
}

.km-flat #view-anamenu .km-listview .km-list,
.km-flat #view-akademikbirimler .km-listview .km-list,
.km-flat #view-akademiktakvim .km-listview .km-list {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    color: white;
    border: 1px solid;
}

.km-flat #tabstrip-login .km-listview .km-list,
.km-flat #ayarlar .km-listview .km-list,
.km-flat #ayarlar ul {
    border-radius: 16px;
    -webkit-border-radius: 16px;
    box-shadow: 0 1px 10px white;
    -webkit-box-shadow: 0 1px 10px white;
    color: white;
    background: url(images/bg-opacity.png) repeat;
}

.km-flat #view-anamenu .km-listview .km-list > li,
.km-flat #tabstrip-login .km-listview .km-list > li,
.km-flat #ayarlar .km-listview .km-list > li,
.km-flat #view-akademiktakvim .km-listview .km-list > li{
    border: none;
    padding: .5em .1em .3em;
}

.km-flat #view-duyurular .km-listview .km-list > li,
.km-flat #view-duyurudetay .km-listview .km-list > li{
    padding: .7em .1em .6em;
}

.km-footer {
    background: url(images/pattern9.png) repeat;
}

.km-flat .km-button {
    background: inherit;
    border-color: transparent;
    /* background: rgba(0,0,0,0.1); */
    /* border-color: rgba(0,0,0,0.1); */
}

.km-flat .km-rowinsert, 
.km-flat .km-state-active, 
.km-flat .km-scroller-pull, 
.km-flat .km-loader:before, 
.km-flat .k-slider-selection, 
.km-flat .km-touch-scrollbar, 
.km-flat .km-pages .km-current-page, 
.km-flat .k-slider .k-draghandle, 
.km-flat .k-slider .k-draghandle:hover, 
.km-flat .km-scroller-refresh.km-load-more, 
.km-flat .km-popup .k-state-hover, 
.km-flat .km-popup .k-state-focused, 
.km-flat .km-popup .k-state-selected, 
.km-flat .km-actionsheet > li > a:active, 
.km-flat .km-actionsheet > li > a:hover, 
.km-flat .km-actionsheet > li > .km-state-active, 
.km-flat li.km-state-active .km-listview-link, 
.km-flat li.km-state-active .km-listview-label, 
.km-flat .km-listview-label input[type=radio]:checked, 
.km-flat .km-listview-label input[type=checkbox]:checked {
    background: white;
    color:#001F3D;
    font-size:.95em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.km-flat .km-loader>*:not(h1), 
.km-flat .km-filter-wrap>input, 
.km-flat .km-switch-handle.km-state-active, 
.km-root .km-flat .km-scroller-refresh span:not(.km-template) {
    background: #001F3D;
}

.km-flat #view-anamenu .km-view-title,
.km-flat #tabstrip-login .km-view-title,
.km-flat #ayarlar .km-view-title,
.km-flat #view-duyurular .km-view-title,
.km-flat #view-duyurudetay .km-view-title,
.km-flat #view-akademiktakvim .km-view-title,
.km-flat #view-yemeklistesi .km-view-title {
    font-size:1.2em;
    line-height:2em;
}

.km-popup-arrow:after, 
.km-popup-arrow:before {
    display: block;
    content: "\a0";
    width: 0px;
    height: 0px;
}

#button-cik {
    float: left;
    margin: 16px 0 0 1em;
    font-size: 1.2em;
    width: 49px;
    height: 28px;
    padding: 0 0 0 0;
    border-color: transparent;
    background: transparent;
}

.km-flat:not(.km-on-android) .km-listview-link:after {
    box-shadow: none;
}

.km-listview-link:after {
    border-style: hidden;
}

.km-flat #view-duyurular .km-listview-link:after {
    border-style: solid;
    color:#001F3D;
}
 
.km-flat .km-content {
    color: white;
}

.km-widget .km-listview-link, 
.km-widget .km-listview-label {
    line-height: 1em;
}

#buttongroup-events {
    height: 49px;
    width: 100%;
}

#giris-layout-span {
    display: inline-block;
}

#footerDiv1 {
    width: 60%;
    float: left;
    text-align: right;
}

#footerDiv2 {
    width: 25%;
    float: right;
}

#footerDiv2 img {
    width: 5em;
    float: right;
    margin: 0 .4em .3em .4em;
}

.km-flat .km-list input[type=password], 
.km-flat .km-list input[type=search], 
.km-flat .km-list input[type=number], 
.km-flat .km-list input[type=tel], 
.km-flat .km-list input[type=url], 
.km-flat .km-list input[type=email], 
.km-flat .km-list input[type=month], 
.km-flat .km-list input[type=color], 
.km-flat .km-list input[type=week], 
.km-flat .km-list input[type=date], 
.km-flat .km-list input[type=time], 
.km-flat .km-list input[type=datetime], 
.km-flat .km-list input[type=datetime-local], 
.km-flat .km-list input[type=text]:not(.k-input), 
.km-flat .km-list select:not([multiple]), 
.km-flat .km-list .k-dropdown-wrap, 
.km-flat .km-list textarea, 
.km-flat .km-list .k-dropdown-wrap .k-input {
    color: white;
    margin-top: -10px;
}

.km-flat .km-list>li {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.erroruser,
.errorpass{
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    right:5px;
    background: #2d2d2d;
    background: rgba(45,45,45,.25);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background:white;
}

.erroruser span,
.errorpass span {
    display: inline-block;
    margin-top: 1px;
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    color: black;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.km-flat #view-duyurular .km-content,
.km-flat #view-duyurudetay .km-content,
.km-flat #modalview-duyurudetayicerik .km-content{
    background: url(images/pattern8.png);
    box-shadow: inset 0 0 30px #95764D;
    -webkit-box-shadow: inset 0 0 30px #95764D;
    color:black;
    font-size:.8em;
}

.km-flat #view-yemeklistesi .km-content{
    background: url(images/pattern8.png);
    box-shadow: inset 0 0 30px #95764D;
    -webkit-box-shadow: inset 0 0 30px #95764D;
}

.km-flat #view-yemeklistesi .km-listview .km-list,
.km-flat #modalview-duyurudetayicerik .km-listview .km-list{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 15px #95764D;
    -webkit-box-shadow: 0 1px 15px #95764D;
    font-weight: bold;
}

.km-flat #view-duyurular .km-listview .km-list,
.km-flat #view-duyurudetay .km-listview .km-list{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 15px #95764D;
    -webkit-box-shadow: 0 1px 15px #95764D;
}


#view-yemeklistesi {
    font-weight:bold;
}

.km-flat #view-yemeklistesi .km-listgroupinset .km-group-title,
.km-flat #view-duyurular .km-listgroupinset .km-group-title,
.km-flat #view-duyurudetay .km-listgroupinset .km-group-title,
.km-flat #modalview-duyurudetayicerik .km-listgroupinset .km-group-title  {
    color: #4c566c;
    text-shadow: 0 1px 1px rgba(255,255,255,0.8);
    font-size: 1em;
    margin-top: 0em;
    line-height: 1.6em;
}


.k-grid-header th.k-header, .k-filter-row th {
    font-weight: bold;
}

.km-flat #view-role ul,
.km-flat #tabstrip-login ul,
.km-flat #ayarlar ul,
.km-flat #view-duyurular ul,
.km-flat #view-duyurudetay ul,
.km-flat #view-akademiktakvim ul,
.km-flat #view-yemeklistesi ul,
.km-flat #modalview-duyurudetayicerik ul{
    margin-top:0;
}

.header-span {
    font-size:.7em;
    float: left;
    margin-left: 64px;
    margin-top: 4px;
}

#modalview-duyurudetayicerik{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 1px 15px #95764D;
    -webkit-box-shadow: 0 1px 15px #95764D;
}

.k-input, input.k-textbox, textarea.k-textbox, input.k-textbox:hover, textarea.k-textbox:hover, .k-textbox>input, .k-multiselect-wrap {
background-color: inherit;
color: white;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: darkred;
border-color: darkred;
}

.km-flat .km-loader, .km-flat .km-rowinsert, .km-flat .km-state-active, .km-flat .km-scroller-pull, .km-flat .k-slider-selection, .km-flat .km-touch-scrollbar, .km-flat .km-pages .km-current-page, .km-flat .k-slider .k-draghandle, .km-flat .k-slider .k-draghandle:hover, .km-flat .km-tabstrip .km-state-active, .km-flat .km-scroller-refresh.km-load-more, .km-flat .km-popup .k-state-hover, .km-flat .km-popup .k-state-focused, .km-flat .km-popup .k-state-selected, .km-flat .km-actionsheet>li>a:active, .km-flat .km-actionsheet>li>a:hover, .km-flat li.km-state-active .km-listview-link, .km-flat li.km-state-active .km-listview-label, .km-flat .km-listview-label input[type=radio]:checked, .km-flat .km-listview-label input[type=checkbox]:checked {
background: white;
}